{% extends 'base.html' %}
{% block content %}
    <!-- Top content -->
    <div class="top-content">
        
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Computer VS Human preformance</h1>
                        <div class="description">
                        
                        </div>
                    </div>
                </div>
                                <!-- MultiStep Form -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form id="msform"  hx-post"{% url 'user_form' %}">
                            <!-- fieldsets -->
                            <fieldset class="guess_fs">
                                <h2 class="fs-title">What Is The Number?</h2>
                                {{ user_form.name }}
                                {{ user_form.age }}
                                {{ user_form.degree }}
                                <input type="button" name="next" class="next action-button" value="Next"  hx-post="create/" hx-swap="beforeend" htmx-target="#ht-target"/>
                                <input  type="submit" name="submit" id="submitBtn" class="submit action-button" value="Submit"/>
                            </fieldset>
                            <fieldset class="guess_fs">
                                <h2 class="fs-title">What Is The Number?</h2>
                                
                                {{image_form.human_guess}}
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"  hx-post="create/" hx-swap="beforeend" htmx-target="#ht-target"/>
                                <input  type="submit" name="submit" id="submitBtn" class="submit action-button" value="Submit"/>
                            </fieldset>
                            <fieldset class="guess_fs">
                                <h2 class="fs-title">What Is The Number?</h2>
                                
                                {{image_form.human_guess}}
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"  hx-post="create/" hx-swap="beforeend" htmx-target="#ht-target"/>
                                <input  type="submit" name="submit" id="submitBtn" class="submit action-button" value="Submit"/>
                            </fieldset>
                            <fieldset class="guess_fs">
                                <h2 class="fs-title">What Is The Number?</h2>
                                
                                {{image_form.human_guess}}
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"  hx-post="create/" hx-swap="beforeend" htmx-target="#ht-target"/>
                                <input  type="submit" name="submit" id="submitBtn" class="submit action-button" value="Submit"/>
                            </fieldset>

                        </form> 


                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}