{% extends 'base.html' %}
{% block content %}
    <!-- Top content -->
    <div class="top-content">
        
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Computer VS Human preformance</h1>
                        <div class="description">
                        
                        </div>
                    </div>
                </div>
                                <!-- MultiStep Form -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form id="msform" method="post" action ="{% url 'save_user_form' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                            {{inline_form.management_form}}
                            <!-- fieldsets -->
                            <fieldset>
                                <h2 class="fs-title">Basic Details</h2>
                                <h3 class="fs-subtitle"></h3>
                                {{form.name}}
                                {{form.degree}}
                                {{form.age}}
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>
                            {% for form in inline_form %}
                            <fieldset class="guess_fs">
                                <h2 class="fs-title">What Is The Number?</h2>
                                
                                {{form}}
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                                <input type="submit" name="submit" id="submitBtn" class="submit action-button" value="Submit"/>
                            </fieldset>
                            {% endfor %}
                            {% comment %} <fieldset>
                                <h2 class="fs-title">Additional Information</h2>
                                <h3 class="fs-subtitle">Fill in your credentials to get your ROI report</h3>
                                <input type="text" id="email" name="email" placeholder="Email"/>
                                <input type="text" id="full_name" name="name" placeholder="Name"/>
                                <input type="text" name="company" id="company" placeholder="Copmany"/>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="submit" name="submit" id="submitBtn" class="submit action-button" value="Submit"/>
                            </fieldset> {% endcomment %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}